.archive {
  position: fixed;
  top: 73.5px;
  overflow: scroll;
  height: 60vh;
  width: 90%;
}

h1 {
  position: fixed;
  top: 0;
}

button {
  margin-top: 26px;
}

blockquote {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .archive {
    height: 45vh;
  }
}
